<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бисквитки</title>
</head>
<body style="background: darkblue">
    <p style="color: white;font-size: 20px">Политика за бисквитки<br>
Бисквитки
<br>
Нашият уеб сайт използва така наречените „бисквитки“. Това са малки текстови файлове, които се зареждат в браузъра и се съхраняват на Вашето крайно устройство. Те са безобидни. Повечето големи уебсайтове също използват този метод.
<br>
Използваме ги, за да поддържаме сайта си лесен за употреба. Някои „бисквитки“ остават съхранени на устройството Ви, докато не ги изтриете. Те ни позволяват да разпознаем Вашия браузър при следващото ви посещение в нашия сайт.
<br>
Какво представляват бисквитките?
<br>
Бисквитките са малки текстови файлове, които се запазват на вашия компютър или мобилно устройство, когато посещавате даден уебсайт. Те позволяват на уебсайта да запаметява вашите действия и предпочитания (като например потребителско име, език, размер на шрифта и други настройки за показване) за определен период от време, за да не се налага да ги въвеждате всеки път, когато посещавате сайта или преминавате от една страница към друга.
<br>
По какъв начин използваме бисквитките?
<br>
Посещаването на този сайт може да създаде бисквитки със следните цели:
<br>
• Бисквитки за производителност на сайта;
• Бисквитки за анализиране на посетителите на сайта;
• Биквитки за географско насочване;
• Бисквитки за регистрация;
• Бисквитки за рекламна дейност;
• Бисквитки на рекламодателите.
<br>
Разрешаването на бисквитките не е абсолютно необходимо, за да може уебсайтът да работи, но ще допринесе за по-доброто му използване. Можете да изтриете или блокирате бисквитките, но ако го направите е възможно някои функции на сайта да не работят както трябва.
<br>
Свързаната с бисквитките информация не се използва за установяване на самоличността ви, а образците с данни са изцяло под наш контрол. Бисквитките не се използват за цели, различни от посочените тук.
<br>
Бисквитки на трети страни:
Използваме бисквитки на трети страни за събиране на статистически данни в сбита форма чрез инструменти за анализ, като Google Analytics, GoogleAdwords, Facebook.
<br>
Как да контролирате бисквитките?
<br>
Можете да контролирате и/или изтривате бисквитки, когато пожелаете – за повече информация вижте:
<br>
• Google Chrome
<br>
• Mozilla Firefox
<br>
• Internet Explorer
        <br>
• Opera</p>
</body>
</html>