<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Защита на лични данни</title>
</head>
<body style="background: darkblue">
    <p style="color: white;font-size: 20px">Политика за защита на личните данни <br>
Ние уважаваме вашата конфиденциалност и се ангажираме със защитата на личните данни, които ни предоставяте. В тази връзка, бихме искали да споделим с вас принципите, които формират нашата политика.
<br>
На сайта fixlife.eu се събира определена информация. Този документ („Политика за защита на личните данни“) описва нашите политики и процедури, регламентиращи събирането и обработването на тази информация, която идентифицира индивидуален ползвател и може да бъде използвана за контакт с него („Лични данни“, „Лична информация“).
<br>
Контрол върху нашите дейности, свързани с лични данни, упражнява следният административен орган:
<br>
Комисия за защита на личните данни (КЗЛД)
<br>
Адрес: София 1431, бул. „Акад. Иван Евстратиев Гешов” 15
Тел: + 359 2 915 35 18
Факс: + 359 2 915 35 25
Ел. поща: kzld@government.bg, kzld@cpdp.bg
Уебсайт: www.cpdp.bg
<br>
Събиране на лична информация
Ние събираме лична информация, за да отговорим на вашите искания свързани с мисията на платформата.
<br>
Ние събираме следната лична информация от използващите Услугата Ползватели:
<br>
Директно чрез Уебсайта: име, фамилия, електронна поща, адрес и телефон – за тези, които осъществят покупка през сайта и за тези, които не осъществят покупка, но въведат данните си в сайта.
Посредством Google Analytics и Facebook Pixel – данни за трафика и поведението на Ползвателите.
Нуждаем се от тази информация, за да можем да осъществим продажба и да доставим до вас поръчания артикул, т.е. личните данни са необходими за сключването и изпълнението на договора за продажба.
<br>
Цялата изброена информация ще бъде запазена и може да бъде използвана за маркетингови/рекламни цели.
<br>
Възможно е да изискаме и допълнителна информация, но само при изрично позволение от ваша страна или в случай, че тази информация е необходима за изпълнението на услугата, която сте заявили. Вие сте единствен притежател на вашата лична информация.
<br>
Използвайки нашата Услуга, вие изрично се съгласявате вашите лични данни да бъдат събирани и обработвани от нас, като същевременно с това гарантирате тяхната точност и достоверност. Вие също така декларирате, че сте били информирани за типа лични данни, които събираме и обработваме, за целите, за които ще бъдат използвани те, както и за Вашето право на достъп, коригиране или изтриване на събраните лични данни.
<br>
ЦЕЛИ НА ОБРАБОТКАТА НА ДАННИТЕ
<br>
С поръчката от fixlife.eu ние сключваме с Вас договор за продажба. Основната цел, която събираме и използваме горепосочените лични данни, е да направим възможно изпълнението на този договор – включително изпращането на стоката до Вас.
<br>
Имейл адресът и телефонът, който сте ни предоставили, могат да бъдат използвани за целите на директния маркетинг включително, но не ограничено до осъществяне на телефонни обаждания с предложения за покупка на допълнителни стоки или услуги, изпращане на имейл бюлетин, в които случаи правните основания за обработката биха представлявали легитимен интерес съгласно чл. 6, ал. 1, буква “е” на Общия регламент за защита на данните /GDPR/.
<br>
Вашите лични данни могат също така да бъдат обработвани, ако държавен орган се нуждае от сътрудничество във връзка с различни официални производства, включително досъдебни, съдебни и административни производства, свързани с искове и спорове на потребители, измами и др.
<br>
ПЕРИОД, ЗА КОЙТО СЕ СЪХРАНЯВАТ ЛИЧНИТЕ ДАННИ
<br>
Личните данни, посочени  по-горе, се съхраняват за неопределен период от време. Винаги можете да поискате да престанем да обработваме личните ви данни, като се свържете с нас на support@fixlife.eu.
<br>
АВТОМАТИЗИРАНА ОБРАБОТКА НА ДАННИ ЧРЕЗ БИСКВИТКИ
<br>
Може да събираме Ваши лични данни посредством бисквитки.
<br>
Употреба на вашите лични данни
<br>
Ние използваме вашите лични данни, за да ви предоставим възможност за достъп до Уебсайта, за да ви изпращаме нашия редовен бюлетин и да ви предлагаме допълнителни услуги и събития включително чрез телефонно обаждане, за да ви предоставим цялостно обслужване и да ви предоставим услугата, която очаквате.
<br>
Вие имате право:
<br>
Да получите файл, съдържащ всички ваши лични данни, които съхраняваме.
Да откажете вашите лични данни да бъдат използвани от нас.
Да поискате коригиране на своите лични данни.
За да упражните описаните по-горе свои права, можете да се свържете с нас на support@fixlife.eu.
<br>
Ние бихме могли да използваме ваша информация, за да създадем обобщена статистика, която е анонимна, както и за да извършим базиран на нея статистически анализ.
<br>
Съхранение на данни от трети страни
Използваме услуги на трети страни, за да поддържаме уеб сайта онлайн, да подобрим работата на уеб сайта и да управляваме по-добре предоставяната Услуга. Възможно е някоя от тези услуги да съхранява данни на сървър, който се намира извън територията на Република България.
<br>
Google Analytics
<br>
Ние използваме Google Analytics за събиране на статистическа информация за Ползвателите на Уебсайта, като например уебсайта, от който идвате на нашия Уебсайт, държавата, в която се намирате, вашия език, онлайн поведение, браузъра, който използвате, мрежата и т.н. Тази информация не включва лични данни и не можете да бъдете идентифициран посредством нея. Ние събираме посочените данни, за да анализираме какъв тип Ползватели използват Уебсайта и как го използват, което ни помага да персонализираме Услугата.
<br>
Можете да откажете използването на вашите данни от Google Analytics, посредством приставката Google Analytics opt-out browser add-on за JavaScript на Google Analytics (ga.js, analytics.js, dc.js). Ако искате да се откажете, моля изтеглете и инсталирайте приставката за Вашия уеб браузър.
<br>
Съгласявайки се да използвате Услугата, Вие изразявате своето изрично съгласие за използване от нашата страна на Google Analytics на Уебсайта, включително Display Advertising, и декларирате, че ви е била дадена възможност да се откажете от Google Analytics.
<br>
Тук можете да видите пълна информация за компанията и нейната политика за защита на личните данни.
<br>
Facebook Pixel
<br>
Използваме Facebook Pixel, за да събираме статистическа информация за посещенията на сайта, която ни е необходима за подобряване на изпълнението на мисията на Доставчика чрез предоставяне на онлайн услуги и информация в подходящото време, на заинтересовани от тях хора.
<br>
Тук можете да видите пълна информация за компанията и нейната политика за защита на личните данни.
<br>
Email Service Provider
<br>
Нашият e-mail бюлетин, включително имената и e-mail адресите на всички записани в него абонати, се намира на сървърите на нашия email service provider и се изпраща чрез тях. Необходимо ни е да събираме тези данни от потребителите, които изрично ги предоставят, за да можем да изпращаме бюлетина, който съдържа полезна информация и понякога информира за продукти или услуги, които абонатите могат да закупят. Всеки абонат на бюлетина получава линкове, съдържащи се във всяко писмо от бюлетина, които му дават възможност да види какви негови данни съхраняваме в системата.
<br>
Услуги за архивиране
<br>
Използваме услуги за архивиране, които периодично съхраняват пълно копие на съдържанието на уеб сайта, включително лични данни, които сте ни предоставили, на външни сървъри. Това е необходимо, за да можем да възстановим работеща версия на уеб сайта в случай на срив. Услугите за външно съхранение на данни са:
<br>
Dropbox – пълна информация за компанията и нейната политика за защита на личните данни.
Google Drive – пълна информация за компанията и нейната политика за защита на личните данни.
Услуги за споделяне в социални медии
Предоставяме бутони за лесно споделяне на нашите публикации в популярни социални мрежи. Тези бутони са необходими, за да можем да осигурим възможност за споделяне на материалите, които публикуваме. Възможно е те да събират статистическа информация за Ползвателите на Уебсайта, като например уебсайта, от който идвате на нашия Уебсайт, държавата, в която се намирате, Вашия език, онлайн поведение, браузъра, който използвате, мрежата и т.н. Тази информация не включва лични данни и не можете да бъдете идентифициран посредством нея.
<br>
Употреба на „бисквитки“ и други проследяващи технологии
Ние използваме “бисквитки”, за да събираме определена информация от всички Ползватели, включително и от нерегистрирани посетители на сайта, които не използват услугите, предоставяни от нас. Бисквитките представляват поредица от данни, които нашата система изпраща към вашия компютър и впоследствие използва, за да идентифицира вашия компютър, когато се върнете отново на Уебсайта.
<br>
Бисквитките предоставят информация за употребата на Услугата и потребителски данни, които ние бихме могли да използваме, за да персонализираме вашия потребителски опит, както и да проследим модели на потребителски трафик. Например, когато се връщате на Уебсайта, бисквитките ви идентифицират и подтикват Уебсайта да попълни вашето потребителско име (без паролата), за да улесни достъпа до вашия профил. Бисквитките също така ни позволяват да напомняме за ваши предходни дейности и да ви предлагаме подобни услуги и събития. Също така, ние използваме информация, събирана чрез бисквитки, за да разработваме статистически анализи за използването на Услугата, като например времето, което Ползвателите прекарват на Уебсайта и страниците, които посещават най-често. Тези обобщени статистически данни не включват лична информация.
<br>
Защита на лични данни
<br>
Ние гарантираме сигурността на данните, които ни изпращате, с индустриално стандартизирани физически, електронни и управленски процедури. Когато е целесъобразно, ние използваме SSL-кодиране, за да подобрим сигурността на предаване на сензитивни данни. Вътрешно данните се съхраняват на контролирани сървъри с ограничен достъп. Вашата информация може да се съхранява и обработва на определени локации, където се намираме ние, в строго съответствие с приложимото законодателство за конфиденциалност и защита на личните данни.
<br>
Предоставяне на лични данни на трети страни
Ние НЕ сме и НЯМА да разкриваме вашите лични данни на трети страни.
<br>
Изключение правят случаите, при които разкриването се изисква от закона поради значим обществен интерес или за установяването, упражняването или защитата на права по съдебен ред, напр. когато определена информация се предоставя на адвокати, агенции за събиране на вземания, митници или други държавни органи, или на правоприлагащи органи за справяне с потенциални нарушения, други нарушения на договора или незаконно поведение. Ние също така можем да разкрием информация, изискуема по съдебен ред или по друг законов начин, или с цел предотвратяване на евентуално увреждане на лица или имущество.
<br>
Връзки към електронни страници на трети страни
Услугата, както и материали на трети страни, които са публикувани на Уебсайта, съдържат връзки към, и могат да ви позволят да посетите други електронни страници („Електронни страници на трети страни“). Ако решите да посетите някоя от тези страници на трети страни, като „кликнете върху“ връзка или се придвижите към страница на трета страна,  вие ще бъдете пренасочени към страницата на съответната трета страна. Фактът, че ние предоставяме връзка към дадена електронна страница чрез Услугата или ви предлагаме възможност да взаимодействате с, или да предоставяте лична информация на трета страна, не е гаранция, позволение или представяне на нашата принадлежност към въпросната трета страна и не следва да бъде разглеждан като съгласие с техните политики и практики за защита на личните данни и информационна сигурност.
<br>
Достъп и корекция на лични данни
Вие можете да достъпвате, коригирате, изменяте или изтривате части от вашите лични данни, като подадете заявка за това на support@fixlife.eu.
<br>
Ние ще запазим вашите данни толкова време, колкото е необходимо за предоставянето на услугите ни или дотогава, докато ни задължава законът. След това вашите данни ще бъдат изтрити.
<br>
Вашите права за защита на данните
Според Общия регламент за защита на данните /GDPR/ имате следните права:
• Право на достъп;
• Право на коригиране;
• Право на изтриване (право „да бъдете забравени“);
• Право на ограничаване на обработката;
• Право на преносимост на данните;
• Право на възражение срещу обработката;
• Право на оттегляне на съгласието по всяко време.
<br>
Право на достъп
По Ваше искане Имате право да получите достъп до личните данни, съхранявани за вас; имате също така правото да поискате копие от личните данни, които са в процес на обработка.
<br>
Право на коригиране
Имате право да поискате грешни, неточни или непълни лични данни да бъдат коригирани;
В зависимост от целите на обработката, може да имате право да извършите допълването на непълни лични данни, включително чрез предоставяне на допълнителна декларация.
<br>
Право на изтриване (право „да бъдете забравени“)
Имате право да поискате лични данни да бъдат изтрити, когато вече не са необходими, или ако обработването им е незаконно.
Моля, обърнете внимание, че чл. 17 от GDPR очертава случаите, в които сме длъжни да изтрием вашите данни. В някои случаи ще бъде нужно да запазим ваши данни, дори да е изискано изтриване /например, за да спазим правно задължение, което изисква обработка по силата на правото на Съюза или на българското законодателство/.
<br>
Право на ограничаване на обработката
При определени обстоятелства може да имате право да поискате от нас ограничението за обработката на личните ви данни. Например можете да упражните това право, когато вече не се нуждаем от вашите лични данни за целите на обработката, но същевременно трябва да ги съхраняваме в нашите системи, за да можем да ги използваме в ситуации като упражняване на права или защита по правни искове.
<br>
Право на преносимост на данни
При определени обстоятелства може да имате право да получавате личните ви данни, които сте ни предоставили, в структуриран, широко използван и машинно четим формат (т.е. в цифров вид) и може да имате право да поискате предаването на тези данни на друго лице без възпрепятстване от нас, ако такова предаване е технически осъществимо.
<br>
Право на възражение
При определени обстоятелства може да имате право да възразите срещу обработката на личните ви данни и можем да бъдем задължени да не ги обработваме в бъдеще. Можете да упражнявате това право, например, когато използваме имейл адреса Ви за целите на директния маркетинг – в такъв случай, след като възразите, няма да можем повече да Ви изпращаме маркетингови материали.
<br>
Право на оттегляне на съгласието
Когато обработването на вашите лични данни се основава на Вашето съгласие, можете да оттеглите съгласието си по всяко време, без да посочвате причини пред нас. Оттеглянето на съгласието не засяга законосъобразността на обработката въз основа на съгласието преди оттеглянето му.
<br>
Как да упражните правата си
<br>
За да упражните правата си, можете да се свържете с нас на support@fixlife.eu.. Ще отговорим на вашите искания без неоправдано забавяне и най-късно до 1 месец.
<br>
Вашето писмено искане по този Раздел може да се подаде по електронен път и следва да включва:
• Вашето име
• Имейл адреса, с който сте регистрирани в личния си профил (не е задължително да се предостави, но е силно препоръчително);
• Описание на искането
• Предпочитана форма за комуникация (напр. обикновена или електронна поща);
• Подпис (в случай на подаване на хартия);
• Дата на искането;
• Адрес за кореспонденция;
• Пълномощно – ако искането е подадено от името на някой друг.
<br>
Възможно е да бъдете помолени да предоставите информация за потвърждаване на самоличността си (напр. като натиснете линк за потвърждение или като предоставите код за потвърждение), за да упражните правата си.
<br>
КАК ОСИГУРЯВАМЕ СИГУРНОСТТА НА ВАШИТЕ ДАННИ
Всички ваши лични данни ще бъдат пренасяни чрез SSL (защитен гнездови слой) при 128-битово криптиране (високо) (RSA при 1024 скорост на данните) и поради това трети лица не биха могли да злоупотребят с тях.
<br>
Изменение на тази политика за защита на личните данни
<br>
Тази Политика за защита на личните данни може да бъде изменяна едностранно от нас, за което ние ще уведомим по подходящ начин всички Ползватели на Услугата.
<br>
Вие се съгласявате, че всяко допълване и изменение на тази Политика ще има действие спрямо вас след уведомяване от наша страна и ако не заявите в 7-дневен срок, че я отхвърляте.
<br>
Ако не се съгласявате с промените, можете да преустановите използването на Услугата.
<br>
Вие се съгласявате, че всички наши изявления, във връзка с изменението на тази Политика ще бъдат изпращани на вашата електронна поща, използвана за регистрация за Услугата или чрез публикуване на подходящо място на Уебсайта.
<br>
Дата на влизане в сила: 15.02.2024г..</p>
</body>
</html>